In [1]:
import warnings
warnings.filterwarnings('ignore')

import plotly.express as px
import pandas as pd
import numpy as np
df=px.data.gapminder()

In [9]:
is_asia=df['continent']=='Asia'
df=df[is_asia]
is_year=df['year']>1993
df=df[is_year]
Adf=df[['country','year','gdpPercap']]

In [10]:
pdf = pd.pivot_table(Adf, index='country', columns='year', values='gdpPercap')

In [12]:
pdf.reset_index()

year             country          1997          2002          2007
0            Afghanistan    635.341351    726.734055    974.580338
1                Bahrain  20292.016790  23403.559270  29796.048340
2             Bangladesh    972.770035   1136.390430   1391.253792
3               Cambodia    734.285170    896.226015   1713.778686
4                  China   2289.234136   3119.280896   4959.114854
5       Hong Kong, China  28377.632190  30209.015160  39724.978670
6                  India   1458.817442   1746.769454   2452.210407
7              Indonesia   3119.335603   2873.912870   3540.651564
8                   Iran   8263.590301   9240.761975  11605.714490
9                   Iraq   3076.239795   4390.717312   4471.061906
10                Israel  20896.609240  21905.595140  25523.277100
11                 Japan  28816.584990  28604.591900  31656.068060
12                Jordan   3645.379572   3844.917194   4519.461171
13      Korea, Dem. Rep.   1690.756814   1646.758151   1593.065480
14           Korea, Rep.  15993.527960  19233.988180  23348.139730
15                Kuwait  40300.619960  35110.105660  47306.989780
16               Lebanon   8754.963850   9313.938830  10461.058680
17              Malaysia  10132.909640  10206.977940  12451.655800
18              Mongolia   1902.252100   2140.739323   3095.772271
19               Myanmar    415.000000    611.000000    944.000000
20                 Nepal   1010.892138   1057.206311   1091.359778
21                  Oman  19702.055810  19774.836870  22316.192870
22              Pakistan   2049.350521   2092.712441   2605.947580
23           Philippines   2536.534925   2650.921068   3190.481016
24          Saudi Arabia  20586.690190  19014.541180  21654.831940
25             Singapore  33519.476600  36023.105400  47143.179640
26             Sri Lanka   2664.477257   3015.378833   3970.095407
27                 Syria   4014.238972   4090.925331   4184.548089
28                Taiwan  20206.820980  23235.423290  28718.276840
29              Thailand   5852.625497   5913.187529   7458.396327
30               Vietnam   1385.896769   1764.456677   2441.576404
31    West Bank and Gaza   7110.667619   4515.487575   3025.349798
32           Yemen, Rep.   2117.484526   2234.820827   2280.769906

In [13]:
fig = px.scatter_ternary(pdf, a="1997", b="2002", c="2007", color="year", 
                        hover_name="country",
                         color_discrete_map={"1997":"blue", "2002":"green", "2007":"red"})
fig.show()

ValueError: Value of 'a' is not the name of a column in 'data_frame'. Expected one of [1997, 2002, 2007] but received: 1997